* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar {
	display: none;
}
@media (max-width: 376px) {
	.navbar {
		padding-top: 12px;
		display: block;
	}
	.navbar__container {
		max-width: 375px;
		width: 100%;
		background-color: #fff;
		box-shadow: 0px -2px 24px 0px #0000001a;
		display: flex;
		align-items: center;
		gap: 2px;
		justify-content: center;
		padding: 8px 8px 16px 8px;
	}
	.navbar__row {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		max-width: 90px;
		width: 100%;
		cursor: pointer;
		transition: all 0.6s;
	}

	.navbar__row:hover {
		color: #007aff;
	}
	.navbar__row:active {
		color: #007aff;
	}
	.navbar__img {
		font-size: 20px;
		width: 18px;
		height: 18px;
		display: flex;
		align-items: center;
		justify-content: center;
    margin-bottom: 4px;
	}
	.navbar__img__3 {
		font-size: 18px;
		width: 15px;
		height: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
    margin-bottom: 9px;
    padding-top: 2px;
	}
	.navbar__img__4 {
		font-size: 20px;
		width: 18px;
		height: 18px;
		display: flex;
		align-items: center;
		justify-content: center;
    margin-bottom: 4px;
	}

	.navbar__img__1 {
		font-size: 22px;
		width: 27px;
		height: 28px;
	}
}
